.bg-image{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
    min-width: 100%;
    min-height: 25rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
