.btn-input {
    background: #a51a1d;
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
	background-image: linear-gradient(0, white, white);
    background-size: 0;
    transition: .2s;
    background-repeat: no-repeat;
	&:hover {
		background-size: 100%;
		color: #a51a1d;
	}
}
