.btn-input {
    background: transparent;
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
	background-image: linear-gradient(0, #a51a1d, #a51a1d);
    background-size: 0;
    transition: .2s;
    background-repeat: no-repeat;
	&:hover {
		background-size: 100%;
		color: #fff;
	}
}
