$slidercolor: #444;
$slidercolor-font: #fff;

/* slider CSS */

#promotional_slider {
  width: 90%;
  padding: 9rem 3rem;
  margin: 0 auto;
  overflow-x: hidden;
  background: transparent;
  overflow-y: visible;

  .promotionalslider_wrapper {
    width: 100%;
    /* display: flex; */

    .slick-arrow {
      font-size: 3rem;
      width: 6rem;
      height: 6rem;
      border-radius: 100%;
      background: #fff;
      box-shadow: 0px 2px 54px -10px rgba(0, 0, 0, 0.53);
    }

    /* slick initialized */
    &.slick-initialized {
      position: relative;
      .slick-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 9999;
      }

      .slick-next {
        right: -25px;
      }

      .slick-prev {
        left: -25px;
      }
    }

    .promotionalslider_single {
      display: flex;
      width: 25%;
      flex: 0 0 25%;
      flex-direction: column;

      section {
        background: no-repeat center center / cover;
        width: 100%;
        height: 0;
        padding-top: 100%;
      }

      /* p {
        text-align: center;
        font-family: "Arial", sans-serif;
      } */
    }
  }
}
/* ======================================== */
/* ================carousel=================== */
/* ======================================== */
section.marcas {
  background-color: white;
  margin-bottom: -1%;
}
/* Slider */
.slick-slide {
  margin: 0px 0.9rem;
}

/* .logo-carousel {
    overflow: inherit;
    border-top: 1px solid #353535;
    border-bottom: 1px solid #353535;
  } */

.slick-slide img {
  width: 100%;
}

.slick-track::before,
.slick-track::after {
  display: table;
  content: "";
}

.slick-track::after {
  clear: both;
}

.slick-track {
  padding: 1rem 0;
  display: flex !important;
  align-items: center;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

/* ======================================== */
/* ================carousel=================== */
/* ======================================== */
// Styling the default Slick dots

.slick-dots {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 1rem 0;

  list-style-type: none;

  li {
    margin: 0 1rem;
  }

  button {
    display: block;
    width: 2rem;
    height: 2rem;
    padding: 0;
    transition: all 0.3s;
    border: none;
    border-radius: 100%;
    border: 2px var(--greenPrimary) solid;

    text-indent: -9999px;
    &:hover {
      background-color: var(--greenPrimary);
    }
  }

  li.slick-active button {
    background-color: var(--greenPrimary);
  }
}

.product-card {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	background-color: #fff;
	background-clip: border-box;
	width: 100%;
	margin-bottom: 6%;
	border-radius: 0.3rem;
	min-height: 36rem;
	transition: all 0.3s;
	align-content: center;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 3.3rem;
	box-shadow: -1px 7px 9px 4px rgba(0, 0, 0, 0.644);
	overflow: hidden;
	&:hover {
	  box-shadow: -1px 28px 45px 16px rgba(0, 0, 0, 0.62);
	  transform: scale(1.1);
	  z-index: 999;
	}
	&__title {
	  min-height: 4.8rem;
	}
	&__img-wraper {
	  overflow: hidden;
	  border-radius: 0.3rem 0.3rem 0 0;
	  display: flex;
	  min-height: 12rem;
	  background-color: #fff;
	  flex-direction: column;
	  flex-wrap: nowrap;
	  align-content: center;
	  align-items: center;
	  justify-content: center;
	  max-height: 15rem;
	}
	&__top-wraper {
	  width: 100%;
	}
	&__img-top {
	  width: auto !important;
	  min-height: 100%;
	}
	&__hyperlink-btn {
	  width: 100%;
	}
	&__text {
	  min-height: 6.3rem;
	}
  }
  @media (max-width: 500px) {
	.product-card__img-wraper {
	  min-height: 15rem;
	  max-height: 15rem;
	}
	.product-card {
	  min-height: 32rem;
	  width: 90%;
	  margin: auto;
	  &__img {
		&-top {
		  width: auto !important;
		  height: 100%;
		  min-height: 100%;
		}
	  }
	}
	.product-card.index {
	  min-height: 40rem;
	}
	.product-card.index > .product-card__top-wraper {
	  height: 15rem;
	}
	.product-card.index > .product-card__top-wraper > .product-card__img-wraper {
	  min-height: 15rem;
	  max-height: 15rem;
	}
  }
