footer {
  padding: 3% 0;
  position: relative;
	& > * {
		@apply font-josefin-sans;
	}
}
.footer-text {
  color: inherit;
	font-size: 1.8rem;
  margin-bottom: 1rem;
  font-weight: 400;
	@apply font-josefin-sans;
}
.clip-footer-home {
  clip-path: polygon(0 33%, 100% 0, 100% 100%, 0% 100%);
}

div.map-responsive > iframe {
  min-width: 100%;
}
@media (max-width: 500px) {
  .footer-text {
    font-size: 3.3vw;
  }
  .clip-footer-home {
    -webkit-clip-path: polygon(0 13%, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 13%, 100% 0, 100% 100%, 0% 100%);
  }
}
