@use "base/tailwind";
@use "base/fonts";
@use "base/animations";

@use "components/search-overlay";
@use "components/select";
@use "components/titles";
@use "components/accordion";
@use "components/carousel";
@use "components/btn-left";
@use "components/btn-input";
@use "components/btn-nav";
@use "components/btn-banner";
@use "components/btn-wk";
@use "components/btn-diagonal";
@use "components/hr";
@use "components/pagination";
@use "components/underline-hover";
@use "components/blocks/products_banner_carousel";

@use "layout/navbar";
@use "layout/footer";

@use "components/useful-links-bar";

@use "pages/home/slider";
@use "pages/contato";
@use "pages/single/product";
@use "pages/single/quem-somos";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
/* ======================================== */
/* ================scroolbar=================== */
/* ======================================== */
/* width */
::-webkit-scrollbar {
  width: 1vw;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background-color: rgb(204, 204, 204);
  border-radius: 10px;
  transition: background-color 0.8s;
}
::-webkit-scrollbar-corner {
  border-radius: 10px;
}
/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(6, 78, 59, var(--tw-bg-opacity));
} */
/* ======================================== */
/* ================scroolbar=================== */
/* ======================================== */
html {
  /* this defines what one rem is */
  font-size: 62.5%;
}

/* a:hover {
    color: inherit !important;
    text-decoration: none !important;
  } */
/* @apply bg-unitermi-primary-gray */
body {
  box-sizing: border-box; /* Padding and Margin are no longer part of the width and height of the element */
  overflow-x: hidden;
  min-height: 100vh;
  background-color: var(--lightPrimary);
}
nav {
	font-family: "montserrat", sans-serif;
}

nav.woocommerce-pagination{
	ul.page-numbers{
		color: black;
    border: none;
		li{
			border: none;
			.page-numbers{
				background: white;
				padding: 1rem;
				color: black;
				font-size: 2rem;
				font-weight: 700;
				&.current{
				  @apply bg-unitermi-primary-redDark;
					color: white;
				}
			}
		}
	}
}

.wpc-edit-filter-set {
	display: none;
}

form.woocommerce-ordering {
    display: none;
}

@media (max-width: 768px){
	nav.woocommerce-breadcrumb {
		position: initial;
	}
}

#primary> #main > .wpc-filters-open-button-container.wpc-open-button-490 > a.wpc-filters-open-widget {
	width: 100%;
	display: flex;
	justify-content: center;
	border-radius: 0.6rem;
	border: 0;
	background: #a51a1d;
	color: white;
	padding: 1.5rem 0;
}
